.as{
color: blue	;
}

.es{
color: #3F9	;
}


.ts{
color: #966;	
}


#uy{
background-color: rgba(255,204,0,0.25);	
}

#lo{
background-color: rgba(0,204,510,.25);		
}

.hs{
background-color: #6ca6ce;	
height: 20px;

}


.pol{
width: 200px;	
}

.ty{
background-color: #C90;	
width: 50%;
font-size: 2em;
}


.qw{
background-color: #0C3;
font-size: 1.3em;	
width: 20%;
}
